* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 710px;
}

.div__img__logo {
    background-color: white;
    height: fit-content;
    text-align: center;
    margin-top: 10px;
    
}
.div__img__logo > img {
    height: 80px;
}

.h1__titulo {
    text-align: center;
    margin-top: 30px;
    
}

#div_pai1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div__img__modulo1 {
    margin-top: 35px;
    width: fit-content;
    height: 415px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.div__img__modulo1 > img {
    border: 0.5px solid black;
    border-radius: 20px;
}

.div__img__modulo1 > p {
    text-align: center;
    margin-top: 5px;
}

#div_a {
    text-align: center;
    margin-top: 5px;
}

#a1 {
    color: #0817FF;
    font-weight: 550;
}
.h3__subtitulo {
    text-align: center;
    width: 250px;
    margin: 5px auto 0px auto;
}

.div__img__modulo2 {
    margin-top: 35px;
    margin-bottom: 35px;
    width: fit-content;
    height: 415px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.div__img__modulo2 > img {
    border: 0.5px solid black;
    border-radius: 20px;
}

.div__img__modulo2 > p {
    text-align: center;
    margin-top: 5px;
}
